*{
    margin: 0;
    padding: 0;
    align-items: center;
    /* justify-content: center;     */

}
body {
    background-color: rgba(214, 205, 205, 0.315);
    width: 100%;
    height: 100%;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    margin-bottom: 20%;
   position: fixed;
   height: auto;
   width: 100%;
   z-index: 100;
   top: 0;
}
#header h1 , a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;  
}
#header h1{
    margin-right: 60%;
    margin-left: 1%;
    padding: 0;

}
#header a{
    margin-right: 5%;
    padding: 0;
    font-size: 22px;
}


#home {
    width: 70%;
    height: 50%;
    display: flex;
    background-color:white;
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 20px;
    margin-left: 20%;
    margin-top: 10%;
    /* margin-bottom: 40%; */
    color: black
}
#home img , #download img{
    border-radius: 50px;
    margin-right: 10px;
}
#download a{
    /* border-radius: 50px; */
    COLOR: black;
}

#download{
    width: 50%;
    height: 50%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 50px;
    margin-left: 30%;
    margin-top: 10%;
    /* margin-bottom: 40%; */
    color: black;
    background-color:white;
}

#download :hover{
    background-color:yellow
}